body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    padding: 1em;
    text-align: center;
  }

  .profile-picture {
    position: absolute;
    left: 27.5%;
    top: 1.75%;
    width: 150px; 
    height: 150px; 
    border: 3px solid #ffffff;
    
  }

  p {
    line-height: 1.5; 
  }
  
  section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    line-height: 1.5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  /* THEME 2 */
  .theme2 body {
    background-color: #0b2545;
    color: white;
  }
  
  .theme2 header {
    background-color: #2c3e50;
    color: white;
  }
  
  .theme2 section {
    background-color: #c5d5e4;
    color: rgb(11, 37, 69);
  }
  
  /* THEME 3 */
  .theme3 body {
    background-color: #688f4e;
    color: white;
  }
  
  .theme3 header {
    background-color: #2b463c;
    color: white;
  }
  
  .theme3 section {
    background-color: #f4f1e9;
    color: rgb(21, 66, 16);
  }
  
  /* THEME 4 */
  .theme4 body {
    background-color: #000000;
    color: white;
  }
  
  .theme4 header {
    background-color: #000000;
    color: white;
  }
  
  .theme4 section {
    background-color: #eed548;
    color: rgb(0, 0, 0);
  }
  
  /* THEME 5 */
  .dark-theme body {
    background-color: #2c3e50;
    color: white;
    background-color: #ffffff;
  }
  
  .dark-theme header {
    background-color: #333;
    color: white;
  }
  
  .dark-theme section {
    background-color: #333;
    color: white;
  }

  .light-switch-btn {
    position: absolute;
  left: 20px;
  top: 25%;
  transform: translateY(-50%);
  width: 80px; 
  height: 80px;
  background-image: url(https://png.pngtree.com/png-clipart/20220911/original/pngtree-shining-bright-light-bulb-png-image_8539561.png); 
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
  }
  
  .light-switch-btn:focus {
    outline: none;
  }

  .light-switch-text {
    position: absolute;
    left: 14%;
    top: 22.5%;
    transform: translateX(-50%);
    text-align: center;
    color: #333;
    font-size: 16px;
  }
  