.cart-box img {
  width: 150px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px auto;
  height: 75vh;
  background-image: linear-gradient(#8989899b, #b9b2b296);
  box-shadow: 1px 1px 1px #000;
  border-radius: 20px;
  border: 1px solid #000;
}

.main-cont {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-cont {
  flex: 1;
  padding: 10px;
}
.cart-box {
  display: flex;
  gap: 10px;
  padding: 10px;
  border: 1px solid black;
}
.cart-item {
  font-size: 1.1rem;
}
.cart-item p:nth-child(1) {
  font-weight: bold;
  font-family: 'poppins';
}
.text-cart {
  text-shadow: 1px 1px 1px #000;
}
.side-cont p {
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    overflow-x: scroll;
    height: 100%;
  }
  .cart-box img {
    width: 100%;
  }
  .cart-item {
    font-size: 1rem;
  }
  .main-cont {
    flex: 1;
  }
  .cart-box {
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .labelQuantity {
    display: flex;
    align-self: self-start;
    justify-self: center;
    text-align: center;
    height: 25px;
    margin-bottom: 10px;
  }
  .cart-item-body p {
    font-size: 0.9rem !important;
    margin-bottom: 0 !important;
  }
}

.cart-item-n {
  display: flex !important;
  flex-direction: column;
}

.cart-item-body {
  height: 150px !important;
}

.inputQ {
  width: 30px;
  text-align: center;
  height: 40px;
  border-radius: 10px;
  border: none;
}
